$background-color: #d1e9ff;

.costs {
  &.highlight {
    color: red;
  }
}

html {
  background-color: $background-color;
}

body {
  margin: 10px;
  padding: 5px;
  background-color: $background-color;
}

.window {
  width: 500px;
}

.resource-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.button-container {
  margin: 10px 0px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.spinner-container {
  .loader {
    width: 20px;
    height: 20px;
    background-size: contain;
  }
}

.status-bar-field {
  height: 14px;
}

.progressbar {
  transition: width 0.2s linear, background-color 0.2s linear;
}


.store-container {


  h1 {
    font-size: 18px;
  }
}

.store-item-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #cdd7db;
  background-color: #ffffff;
  border-radius: 8px;

  &:not(:first-of-type) {
    margin-top: 5px;
  }

  h1 {
    font-size: 18px;
    margin: 0px;
  }

  h2 {
    font-size: 14px;
    font-weight: normal;
    margin: 0px;
  }

  div.info-container {
    display: flex;
    flex-direction: column;
  }

  p {
    margin: 5px 0px;
  }

  button {
    height: 14px;
  }
}