$background-color: #f0f8ff;

body {
  padding: 10px;
  background-color: $background-color;
}

.window {
  width: 500px;
}

.resource-container {
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  justify-content: right;
}