$background-color: #3c6ea5;

.highlight {
  color: red;
}


html {
  background-color: $background-color;
}

body {
  margin: 10px;
  padding: 5px;
  background-color: $background-color;
}

.window {
  width: 500px;
}

.resource-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.button-container {
  margin: 10px 0px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.spinner-container {
  .loader {
    width: 20px;
    height: 20px;
    background-size: contain;
  }
}

.status-bar-field {
  height: 14px;
}

.progressbar {
  transition: width 0.2s linear, background-color 0.2s linear;
}


.store-container,
.factory-container {

  max-height: 500px;
  overflow-y: scroll;

  h1 {
    font-size: 18px;
  }
}

.store-item-container,
.factory-item-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #cdd7db;
  background-color: #ffffff;
  border-radius: 8px;

  &:not(:first-of-type) {
    margin-top: 5px;
  }

  h1 {
    font-size: 14px;
    margin: 2.5px 0px;
  }

  h2 {
    font-size: 12px;
    font-weight: normal;
    margin: 2.5px 0px;
    font-style: italic;
  }

  div.info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }


  div.button-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    button {
      margin-right: 5px;
    }

  }

  p {
    margin: 5px 0px;
  }
}



.factory-item-container {
  flex-direction: column;
  display: flex;

  p {
    margin: 2px 0px;
  }

  &>div {
    margin: 10px 0px;

    &:last-of-type {
      margin-bottom: 0px;
      margin-top: 20px;
    }
  }
}