:root {
  --progress-color-normal: #0bd82c;
  --progress-color-paused: #e6df1b;
  --progress-color-error: #ef0000;
}

[role="progressbar"] {
  box-shadow: inset 0 0 0 1px #f3f3f388, 0 0 0 1px #eaeaea88;
  margin: 2px 0;
  overflow: hidden;
  background: #fff;
  height: 12px;
  border: 1px solid #686868;
  border-radius: 4px;

  >div {
    overflow: hidden;
    height: 100%;
    box-shadow: inset 0 0 0 1px #ffffff1f;
    background-image: repeating-linear-gradient(to right,
        #fff 0px,
        #fff 2px,
        transparent 2px,
        transparent 10px),
      linear-gradient(to bottom,
        #acedad 0%,
        #7be47d 14%,
        #4cda50 28%,
        #2ed330 42%,
        #42d845 57%,
        #76e275 71%,
        #8fe791 85%,
        #ffffff 100%);
    ;

  }

  &.paused>div {
    background-image: repeating-linear-gradient(to right,
        #fff 0px,
        #fff 2px,
        transparent 2px,
        transparent 10px),
      linear-gradient(to bottom,
        #FFF572 0%,
        #FFEE33 14%,
        /* New color #e6df1b */
        #FFD500 28%,
        #FFC300 42%,
        #FFB000 57%,
        #FFC300 71%,
        #FFD500 85%,
        #FFFFFF 100%);
  }

  &.error>div {
    background-image: repeating-linear-gradient(to right,
        #fff 0px,
        #fff 2px,
        transparent 2px,
        transparent 10px),
      linear-gradient(to bottom,
        #FFB3B3 0%,
        #FF8C8C 14%,
        #FF6666 28%,
        #FF3333 42%,
        #FF1A1A 57%,
        #FF0000 71%,
        #FF6666 85%,
        #FFFFFF 100%);
  }

  &.animate>div::before,
  &.marquee::before {
    content: "";
    animation: progressbar 3s linear infinite;
    display: block;
    height: 100%;
    background: linear-gradient(to right,
        transparent,
        #ffffff80,
        transparent 40%);
  }

  &.marquee::before {
    opacity: 0.5;
    background: linear-gradient(to right,
        transparent,
        var(--progress-color-normal),
        transparent 35%);
  }
}

@keyframes progressbar {
  0% {
    transform: translateX(-40%);
  }

  60% {
    transform: translateX(100%);
  }

  100% {
    /* for faking delay */
    transform: translateX(100%);
  }
}

.progressbar {
  transition: width 0.2s linear, background-image 0.2s linear;

}